@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mapbox-gl/dist/mapbox-gl.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0b0e13;
  color: #e5e7eb;
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
